.language-badge {
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 0.8rem;
  padding: 0px 3px;
  color: #fff;

  &.active {
    color: #679E37;
  }

  &:hover{
    color: #679E37;
    text-decoration: none;
  }
}
