@import 'shared.scss';
#navbar {
  padding: 0;
  color: $white;
  .btn-link {
    color: $white;
  }
}

#languages-container {
  background-color: $gray-800;
  line-height: 0.8rem;
  .language-badge {
    cursor: pointer;
    font-size: 0.7rem;
    line-height: 0.8rem;
    padding: 0px 3px;
    color: $gray-600;
    &.active {
      color: $white;
    }
  }
}

.btn-link {
  color: rgba(0, 0, 0, 0.9);
}

.btn-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
