$theme-colors: (primary: #679e37);
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/react-table/react-table";

body {
  color: #484848;
  font-size: 14px;
}

.btn {
  border-radius: 0;
}

.form-control,
.react-select__control {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 19px;
  line-height: 24px;
  color: #484848;
  font-weight: 200;
  height: auto;
  background-color: #fff;
}

.form-control {
  padding: 11px 11px 11px;
}

.nav-item {
  cursor: pointer;
}

.react-select__control {
  border-radius: 0;
  padding: 6px 5px 8px;
}

.react-select__value-container {
  padding: 0;
}

.react-select__indicator {
  padding: 0;
}

.ReactTable .form-control {
  padding: 2px;
}
